*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(252, 255, 254);
}

header{
font-family: 'Times New Roman', Times, serif;
font-size: 50px;
width: 100%;
text-align: center;
line-height: 3em;
background-color: rgb(3, 3, 78);
color: rgb(244, 244, 204);
border: 3px solid lightyellow;
}
nav{
  background-color: rgb(242, 171, 84);
  color: blueviolet;

}
.nav{
  list-style-type:none;
  width:100%;
  display:flex;
  flex-wrap: nowrap;

}
.navitem{
  display:inline-block;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  
}

.navitem:nth-of-type(1) a:hover{
 color: rgb(33, 2, 39);

}
.navitem:nth-of-type(2) a:hover{
   color: rgb(45, 5, 59);
}
.navitem:nth-of-type(3) a:hover{
   color: rgb(36, 3, 63); 
}
.navitem:nth-of-type(4) a:hovers{
   color: rgb(24, 2, 32);
}
.navitem:hover{
  flex-grow: 1.5;
  -webkit-flex-grow: 1.5;
}
li{
  line-height: 2em;
  width: 15%;
  display: inline-block;
   font-size: 64px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and (max-width: 900px){
  nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    display: grid;
    height: 32em;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 80px;
  }
  li{
    width: 100%;
    
    display: block;

  }
  a{
    display:block;
    text-align: center;
  }
}
.img{
  position: relative;
  left: 20em;
  top: 10em ;
}
p{
  font-size: 50px;
  background-color: #383e1c;
  color: rgb(255, 255, 255);

  border: black solid 5px;
  padding: 2px;
  margin: 2px;
  float: right;
  position: relative;
  left: -22em;
  top: -2em;
  
}
footer{
  font-size: 25px; 
  display: inline-block;
  position:absolute;
  text-align: center;
  border: 5px solid black;
  background-color: aliceblue;
  bottom: 0;
  width: 100%;
  
}
a:link {
  text-decoration: none;
  color: aliceblue;
}

a:visited {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: none;
  color: rgb(33, 1, 33);
}

a:active {
  text-decoration: none;
  color: aliceblue;
}

